@import url("https://fonts.google.com/specimen/Spartan");

:root {
  --base: hsl(222, 26%, 31%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--base);
  margin: 0;
  padding: 0;
  /* font-family: "Spartan"; */
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--main-bg-color);
  color: var(--text-color-one);
  font-weight: 700;
}

.header {
  display: flex;
  width: 550px;
  flex-direction: row;
  align-items: flex-end;
}

.result-container {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 130px;
  border-radius: 10px;
  margin: 15px 0px 15px 0px;
  background-color: var(--result-background-color);
  justify-content: center;
  align-items: flex-end;
  font-size: 32px;
  text-align: right;
  padding-right: 38px;
  box-sizing: border-box;
}

.keypad-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 480px;
  background-color: var(--keypad-background-color);
  /* background-color: aqua; */
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
}

.key-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;
  width: 100%;
  box-sizing: border-box;
}

.key {
  display: inline-flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  /* padding: 10px 20px 15px 20px; */
  margin: 12px 12px 12px 12px;
  border-radius: 7px;
  background-color: var(--key-background-color);
  font-size: 32px;
  font-weight: bold;
  box-shadow: 0px 2px var(--key-shadow-color);
  color: var(--text-color-two);
  cursor: pointer;
}

.left-section {
  display: flex;
  flex-basis: 50%;
}

.right-section {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 16px;
  color: var(--text-color-three);
}

.toggle {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: flex-end;
  letter-spacing: 3px;
}

.outer-slider {
  display: flex;
  width: 70px;
  height: 30px;
  background-color: hsl(268, 71%, 12%);
  border-radius: 15px;
  align-items: center;
  justify-content: var(--toggle-position);
  padding: 5px 5px 5px 4px;
  box-sizing: border-box;
}

.inner-slider {
  display: flex;
  background-color: var(--toggle-color);
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.toggle-number-group {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.toggle-number {
  display: flex;
  cursor: pointer;
}

.App.theme-one {
  --main-bg-color: hsl(222, 26%, 31%);
  --result-background-color: hsl(223, 31%, 20%);
  --keypad-background-color: hsl(223, 31%, 20%);
  --key-background-color: white;
  --key-shadow-color: hsl(28, 16%, 65%);
  --text-color-one: white;
  --text-color-two: hsl(221, 14%, 31%);
  --toggle-position: flex-start;
  --toggle-color: hsl(6, 63%, 50%);
}

.App.theme-two {
  --main-bg-color: white;
  --result-background-color: hsl(0, 0%, 93%);
  --keypad-background-color: hsl(0, 5%, 81%);
  --key-background-color: hsl(45, 7%, 89%);
  --key-shadow-color: hsl(35, 11%, 61%);
  --text-color-one: hsl(60, 10%, 19%);
  --text-color-two: hsl(60, 10%, 19%);
  --text-color-three: hsl(60, 10%, 19%);
  --toggle-position: center;
  --toggle-color: hsl(25, 98%, 40%);
}

.App.theme-two {
  --main-bg-color: hsl(0, 0%, 90%);
  --result-background-color: hsl(0, 0%, 93%);
  --keypad-background-color: hsl(0, 5%, 81%);
  --key-background-color: hsl(45, 7%, 89%);
  --key-shadow-color: hsl(35, 11%, 61%);
  --text-color-one: hsl(60, 10%, 19%);
  --text-color-two: hsl(60, 10%, 19%);
  --text-color-three: hsl(60, 10%, 19%);
  --toggle-position: center;
  --toggle-color: hsl(25, 98%, 40%);
}

.App.theme-three {
  --main-bg-color: hsl(268, 75%, 9%);
  --result-background-color: hsl(268, 71%, 12%);
  --keypad-background-color: hsl(268, 71%, 12%);
  --key-background-color: hsl(268, 47%, 21%);
  --key-shadow-color: hsl(290, 70%, 36%);
  --text-color-one: hsl(52, 100%, 62%);
  --text-color-two: hsl(52, 100%, 62%);
  --text-color-three: hsl(52, 100%, 62%);
  --toggle-position: flex-end;
  --toggle-color: hsl(176, 100%, 44%);
}

@media screen and (max-width: 375px) {
  /* body {
    background-color: lightblue;
  } */

  .header,
  .result-container,
  .keypad-container,
  .key-row {
    width: 327px;
  }

  .result-container {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .keypad-container {
    height: 420px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .key-row {
  }

  .key {
    height: 60px;
    width: 60px;
    margin: 7px;
  }

  .left-section {
    font-size: 32px;
  }
}
