@import url("https://fonts.google.com/specimen/Spartan");

.App {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  text-align: center;
  background-color: hsl(268, 75%, 9%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(52, 100%, 62%);
  /* font-family: "Spartan"; */
  font-weight: 700;
}

.Header {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: flex-end;
}

.Button-Container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-color: hsl(268, 71%, 12%);
  justify-content: center;
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.Button {
  width: 20px;
  height: 15px;
  padding: 10px 20px 15px 20px;
  margin: 3px 5px 3px 5px;
  border-radius: 7px;
  background-color: hsl(268, 47%, 21%);
  font-weight: bold;
  box-shadow: 0px 2px hsl(290, 70%, 36%);
}

.Result-Container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 80px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: hsl(268, 71%, 12%);
  justify-content: center;
  align-items: flex-end;
}

.Result {
  font-size: 32px;
  text-align: right;
  padding-right: 15px;
}

.Reset,
.Delete {
  height: 15px;
  margin: 3px 5px 3px 5px;
  background-color: hsl(281, 89%, 26%);
  border-radius: 5px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 2px hsl(285, 91%, 52%);
  cursor: pointer;
}

.Reset {
  width: 40px;
  padding: 10px 43px 15px 43px;
}

.Delete {
  width: 20px;
  padding: 10px 20px 15px 20px;
}

.Equal {
  width: 40px;
  height: 15px;
  padding: 10px 43px 15px 43px;
  margin: 3px 5px 3px 5px;
  background-color: hsl(176, 100%, 44%);
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 2px hsl(177, 92%, 70%);
  color: black;
}

.Left-Section {
  display: flex;
  flex-basis: 50%;
}

.Right-Section {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 8px;
}

.Toggle {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;
  justify-content: flex-end;
  letter-spacing: 3px;
}
.Outer {
  display: flex;
  width: 33px;
  height: 15px;
  background-color: hsl(268, 71%, 12%);
  border-radius: 10px;
  align-items: center;
  justify-content: flex-end;
}

.Inner {
  display: flex;
  background-color: hsl(176, 100%, 44%);
  width: 8px;
  height: 8px;
  border-radius: 10px;
}
